body{
    background-color: rgb(79, 77, 77);  
}
/*           page                */
.page{
    width: 500px;
    border: 2px solid black;
    margin: auto auto;
    margin-top: 200px;
    box-shadow: 2px 2px 20px ;
    padding: 10px 20px;
    background-color: white;
}  
/*           tag                  */
p{
  font-size: 22px;
}
/*            links                   */
a{
   color:#293f50;
   font-weight: bold;
}
